{% extends 'base.html.twig' %} {% block stylesheets %} {% endblock %} {% block
body %} {% for message in app.flashes('success') %}
<div class="flash-notice alert alert-success">
  {{ message }}
</div>
{% endfor %}

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Prénom</th>
      <th scope="col">Email</th>
      <th scope="col">Téléphone</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for contact in contacts %}
    <tr>
      <td scope="row">
        <a href="{{ path('app_contact_show', { id: contact.id }) }}">{{
          contact.nom
        }}</a>
      </td>
      <td>{{ contact.prenom }}</td>
      <td>{{ contact.email }}</td>
      <td>{{ contact.telephone }}</td>
      <td>
        <a
          href="{{ path('app_contact_edit', { id: contact.id }) }}"
          class="btn btn-primary btn-lg active"
          role="button"
          aria-pressed="true"
          >Modifier</a
        >
        <a
          onclick="return confirm('Voulez-vous vraiment supprimer ce contact ?')"
          href="{{ path('app_contact_delete', { id: contact.id }) }}"
          class="btn btn-secondary btn-lg active"
          role="button"
          aria-pressed="true"
          >Supprimer</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<a
  href="{{ path('app_contact_add') }}"
  class="btn btn-primary btn-lg active my-5"
  role="button"
  aria-pressed="true"
  >Ajouter</a
>
{% endblock %}
